/* Put your CSS here */
.ember-application {
}

.container {
  width:90% !important;
}

.hotriz-item {
  vertical-align:middle;
}

.col-md-inner {
  padding: 0px !important;
  margin: 0px !important;
}

.module-data {
  position:relative;
}

.edit-toolbar {
  position: absolute;
  right: 4px;
  top: 0px;
  line-height: 15px;
}

.btn-toolbar {
  margin:0px;
  padding:0px 5px 10px 5px;
}

.btn-edit-toolbar {
  margin: 0px !important;
  padding: 1px !important;
  font-size: 10px !important;
}

.members-panel {
  margin:20px 0 0 0;
}

.permission-list {
  width:30%;
}

.feed-item {
  position:relative;
}

.progressbar-tag {
  width:100%;
  min-width:50px;
  display:inline-block;
  color:#333;
}

.total-progress {
  margin:15px 0 0 0;
}

.panel {
  position:relative;
}

.image-container {
  width:100%;
  height:250px;
  overflow:auto;
  border:1px solid #ccc;
  border-radius:5px;
}

.image-container-inner {
  position:relative;
}

.the-image {
}

.image-cropper {
  width:100px;
  height:100px;
  background-position: top left;
  z-index:10;
  border:1px dotted;
  position:absolute !important;
  left:0;
  top:0;
}

.member-sm {
  position:relative;
}
.member-name {
  margin-top:0px;
}

.filter-box {
  position:relative;
}
.filter-container {
}
.filter-options {
  position: absolute;
  width: 300px;
  top: -125px;
  left: -25px;
  z-index: 5;
  margin:15px;
  overflow:hidden;
  -webkit-transition: width 0.5s, padding 0.5s, border 0.5s;
  transition: width 0.5s, padding 0.5s, border 0.5s;
}
.filter-options-hidden {
  width:0px;
  min-height: 0px !important;
  padding:0px !important;
  border: 0px solid #dcdcdc !important;
}
.filter-option {
  margin:0 !important;
}

.btn-placement {
  font-size: 12px !important;
  padding:0px !important;
}

.panel {
  overflow: visible !important;
}
